body {
  background-color: HoneyDew;
  margin: 40px;
}
h1 {
  color: SeaGreen;
}
h2 {
  color: LightSkyBlue;
}
p {
  color: LightSeaGreen;
}

.myDiv {
  background-color: SeaShell;
  border: 5px solid SeaGreen;
  padding: 15px;
  text-align: center;
  h2 {
    color: MediumVioletRed;
  }
  img {
    float: right;
    margin: 10px;
    max-width: 30%;
    height: auto;
  }
  p {
    color: PaleVioletRed;
    text-align: justify;
  }
}

#link {
  a:link {
    color: LightPink;
  }
  
  a:hover {
    color: HotPink;
  }
  
  a:active {
    color: LavenderBlush;
  }
  
  a:visited {
    color: IndianRed;
  }
}
